.idea/
.DS_Store
NEWS.md
build
*.gem
Export/html
!src/Export/html/_default.html.erb
!src/Export/html/_polar.html.erb
!src/Export/html/_vicilog.html.erb
src/Export/html/
.*.swp
.*.swo
Gemfile.lock
.bundle/
